<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__ROOT__/Public/css/style.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/js/webuploader/webuploader.css" rel="stylesheet" type="text/css" />

<script language="JavaScript" src="__ROOT__/Public/js/jquery.js"></script>
<script language="JavaScript" src="__ROOT__/Public/js/webuploader/webuploader.js"></script>
<script language="JavaScript" src="__ROOT__/Public/js/layer/layer.js"></script>

<style>
    #user_id {width: 115px;}
</style>

</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">用户管理</a></li>
    <li><a href="#">职务编辑</a></li>
    </ul>
    </div>
    <form id="data_form">
        <input type="hidden" name="id" value="{$id}" />
        <div class="formbody">
            <div class="formtitle"><span>职务编辑</span></div>
            <ul class="forminfo">
                <li>
                    <label>所属部门</label>
                    <select name="department_id" id="" style="background-color: #96cef3;margin-top:10px;">
                    <empty name="data.department_id">
                        <option value="">选择所属部门</option>
                    <else />
                        <option value="{$data['department_id']}">{$data['department_data']['department_name']}</option>
                    </empty>
                    
                    <volist name="department_data" id="vo">
                        <option value="{$vo.id}">{$vo.department_name}</option>
                    </volist>
                    </select>
                </li>
                
                <li><label>职务名称</label><input name="duty_name" type="text" value="{$data['duty_name']}" class="dfinput" /></li>
                
                <li><label>&nbsp;</label><input name="" type="button" class="btn" value="确认保存"/></li>
            </ul>
        </div>

    </form>
   
    
    <script type="text/javascript">
        $(".btn").click(function(){
            $.ajax({
                type : "POST",
                url : "{:u('Index/duty_edit_do')}",
                data : $("#data_form").serializeArray(),
                dataType : 'json',
                success : function(data){
                    if(data['status']){
                        layer.open({
                            content : "编辑成功",
                            btn : ['确定']
                            
                        });

                    } else {
                        layer.open({
                            content : data['message'],
                            btn : ['确定']
                        });
                    }
                }

            });
        });
    </script>
</body>

</html>
