@charset "utf-8";
/*显示隐藏*/
.db{display:block;}
.dn{display:none;}

/*清除浮动*/
.clearfloat:after {
	content: "020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfloat {
	zoom: 1;
}


/*每页的底部*/
.foot{
	margin:0.46875rem 0;
	width:100%;
}
.foot-box{
	margin:0 auto;
	width:10rem;
}
.foot-box .logo-box{
	font-size:0.25rem;
	text-align:center;
	color:#b1b1b1;
	line-height:0.375rem;
}
.foot-box .link{
	font-size:0.25rem;
	text-align:center;
	color:#b1b1b1;
	line-height:0.375rem;
}
.foot-box .company{
	font-size:0.25rem;
	text-align:center;
	color:#b1b1b1;
	line-height:0.375rem;
}
/*每页的底部*/


/*分页*/
.page{
	margin:30px auto;
	width:540px;
	height:40px;
}
.page li{
	float:left;
}
.page li a{
	margin:0 4px;
	display:block;
	width:40px;
	height:40px;
	font-size:16px;
	line-height:40px;
	text-align:center;
}
.page li a.active{
	background-color:#ffc200;
	color:#fff;
}
.page li a.back{
	width:60px;
}
.page li a.next{
	width:60px;
}
/*分页*/


/*错误提示*/
.popupError{
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-0.6133333333333333rem;
	margin-left:-3.8666666666666667rem;
	width:7.733333333333333rem;
	height:1.2266666666666666rem;
	background:url(../../img/common/1.png) no-repeat center center;
	background-size:100% 100%;
	z-index:100;				
}
.popupError p{
	font-size:0.4266666666666667rem;
	line-height:1.2266666666666666rem;
	text-align:center;
	color:#fff;
}
/*错误提示*/