<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
		<meta content="telephone=no,email=no" name="format-detection">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
		<meta name="keywords" content="信用卡"/>
		<meta name="description" content="信用卡"/>		
		<title>专属客服</title>
		<!-- 公告样式 -->
		<link rel="stylesheet" href="__ROOT__/Public/home/css/common/reset.css">
		<link rel="stylesheet" href="__ROOT__/Public/home/css/common/common.css">
		<!-- 公告样式 -->
		<link rel="stylesheet" href="__ROOT__/Public/home/css/customerService.css" id="css">

		<!-- 公共js -->
	  <script src="__ROOT__/Public/home/js/common/flexible.js"></script>
		<script src="__ROOT__/Public/home/js/common/jquery-1.11.1.min.js"></script>
		<script src="__ROOT__/Public/home/js/common/methods.js"></script>
		<!-- 公共js -->
		<script src="__ROOT__/Public/home/js/customerService.js" id="js"></script>
	</head>
	<body>
	<div class="manager">
		<img src="__ROOT__/Public/home/img/customerManagement/c-1.png" />
		<div class="name">经理</div>
		<div class="work-id">编号：<span>9527</span></div>
	</div>
	<div class="phone">
		<img src="__ROOT__/Public/home/img/customerService/2.png" />
		<a class="call" href="tel:15990076560">给我打电话</a>
	</div>
	<div class="tip">
		专属服务经理是信用卡平台对用户的第一责任人，在什么什么专属服务经理是信用卡平台对用户的第一责任人，在什么什么专属服务经理是信用卡平台对用户的第一责任人，在什么什么专属服务经理是信用卡平台对用户的第一责任人，在什么什么
	</div>
	</body>
</html>
