<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
		<meta content="telephone=no,email=no" name="format-detection">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
		<meta name="keywords" content="信用卡"/>
		<meta name="description" content="信用卡"/>		
		<title>客户管理</title>
		<!-- 公告样式 -->
		<link rel="stylesheet" href="__ROOT__/Public/home/css/common/reset.css">
		<link rel="stylesheet" href="__ROOT__/Public/home/css/common/common.css">
		<!-- 公告样式 -->
		<link rel="stylesheet" href="__ROOT__/Public/home/css/customerManagement.css" id="css">

		<!-- 公共js -->
	  <script src="__ROOT__/Public/home/js/common/flexible.js"></script>
		<script src="__ROOT__/Public/home/js/common/jquery-1.11.1.min.js"></script>
		<script src="__ROOT__/Public/home/js/common/methods.js"></script>
		<!-- 公共js -->
		<script src="__ROOT__/Public/home/js/customerManagement.js" id="js"></script>
	</head>
	<body>
	<div class="head">
		<div class="user-box">
			<div class="no-use"></div>
			<div class="money-box">
				<div class="sum">
					<h5>客户(人)</h5>
					<h4>100</h4>
				</div>
				<div class="part">
					<a class="yuan" href="{:u('incomeDetails')}">
						<h5>今日新增(人)</h5>
						<h4>50</h4>					
					</a>
					<a class="yuan yuan2" href="{:u('income')}">
						<h5>今日人气(人)</h5>
						<h4>20</h4>					
					</a>				
				</div>
			</div>
		</div>
	</div>

	<div class="menu" id="menu">
		<div class="tab active">代理商(<span>0</span>)</div>
		<div class="tab">普通用户(<span>6</span>)</div>
	</div>
	
	<div class="infor">
		<ul class="user-list">
			<li>
				<div class="num">1</div>
				<div class="user-img">
					<img src="__ROOT__/Public/home/img/customerManagement/c-1.png" />
				</div>
				<div class="txt">
					<div class="name">willwillwill</div>
					<div class="work-id">编号：<span>9527727772</span></div>
					<div class="time">加入时间：<span>12-28 20:20</span></div>
				</div>
			</li>
			<li>
				<div class="num">2</div>
				<div class="user-img">
					<img src="__ROOT__/Public/home/img/customerManagement/c-1.png" />
				</div>
				<div class="txt">
					<div class="name">willwillwill</div>
					<div class="work-id">编号：<span>9527727772</span></div>
					<div class="time">加入时间：<span>12-28 20:20</span></div>
				</div>
			</li>
		</ul>		
		<!--分页-->
		<ul class="page">
			<li>
				<a class="back">上一页</a>
			</li>
			<li>
				<a class="active">1</a>
			</li>
			<li>
				<a>2</a>
			</li>
			<li>
				<a>3</a>
			</li>		
			<li>
				<a>4</a>
			</li>
			<li>
				<a>15</a>
			</li>				
			<li>
				<a class="next">下一页</a>
			</li>				
			
		</ul>
	</div>		

	<div class="infor dn">
		<ul class="user-list">
			<li>
				<div class="num">1</div>
				<div class="user-img">
					<img src="__ROOT__/Public/home/img/customerManagement/c-1.png" />
				</div>
				<div class="txt">
					<div class="name">willwillwill</div>
					<div class="work-id">编号：<span>9527727772</span></div>
					<div class="time">加入时间：<span>12-28 20:20</span></div>
				</div>
			</li>
			<li>
				<div class="num">3</div>
				<div class="user-img">
					<img src="__ROOT__/Public/home/img/customerManagement/c-1.png" />
				</div>
				<div class="txt">
					<div class="name">willwillwill</div>
					<div class="work-id">编号：<span>9527727772</span></div>
					<div class="time">加入时间：<span>12-28 20:20</span></div>
				</div>
			</li>
		</ul>		
		<!--分页-->
		<ul class="page">
			<li>
				<a class="back">上一页</a>
			</li>
			<li>
				<a class="active">1</a>
			</li>
			<li>
				<a>2</a>
			</li>
			<li>
				<a>3</a>
			</li>		
			<li>
				<a>4</a>
			</li>
			<li>
				<a>15</a>
			</li>				
			<li>
				<a class="next">下一页</a>
			</li>				
			
		</ul>
	</div>		

	</body>
</html>
