<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
		<meta content="telephone=no,email=no" name="format-detection">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
		<meta name="keywords" content="信用卡"/>
		<meta name="description" content="信用卡"/>		
		<title>专属海报</title>
		<!-- 公告样式 -->
		<link rel="stylesheet" href="__ROOT__/Public/home/css/common/reset.css">
		<link rel="stylesheet" href="__ROOT__/Public/home/css/common/common.css">
		<!-- 公告样式 -->
		<link rel="stylesheet" href="__ROOT__/Public/home/css/exclusivePosters.css" id="css">

		<!-- 公共js -->
	  <script src="__ROOT__/Public/home/js/common/flexible.js"></script>
		<script src="__ROOT__/Public/home/js/common/jquery-1.11.1.min.js"></script>
		<script src="__ROOT__/Public/home/js/common/methods.js"></script>
		<!-- 公共js -->
		<script src="__ROOT__/Public/home/js/exclusivePosters.js" id="js"></script>
	</head>
	<body>
	<div class="banner" id="banner">
		<img src="__ROOT__/Public/home/img/exclusivePosters/1.png" />
	</div>
	
	
	<div class="user-box">
		<div class="box clearfloat">
			<div class="user">
				<div class="head-img">
						<img src="__ROOT__/Public/home/img/exclusivePosters/c-1.png" />
				</div>
				<div class="infor">
					<div class="name" id="name">这个名字有点长和那后的，有个截图的方法写在js里</div>
					<div class="work">职务：<span>实习专员</span></div>
					<div class="work-id">工号：<span>4329407</span></div>
				</div>
			</div>
			<div class="er-code">
				<img src="__ROOT__/Public/home/img/exclusivePosters/c-2.png" />
				<div class="tip">扫我惊喜无限</div>
			</div>			
		</div>
	</div>
	</body>
</html>
