<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
		<meta content="telephone=no,email=no" name="format-detection">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
		<meta name="keywords" content="信用卡"/>
		<meta name="description" content="信用卡"/>		
		<title>帮助</title>
		<!-- 公告样式 -->
		<link rel="stylesheet" href="__ROOT__/Public/home/css/common/reset.css">
		<link rel="stylesheet" href="__ROOT__/Public/home/css/common/common.css">
		<!-- 公告样式 -->
		<link rel="stylesheet" href="__ROOT__/Public/home/css/help.css" id="css">

		<!-- 公共js -->
	  <script src="__ROOT__/Public/home/js/common/flexible.js"></script>
		<script src="__ROOT__/Public/home/js/common/jquery-1.11.1.min.js"></script>
		<script src="__ROOT__/Public/home/js/common/methods.js"></script>
		<!-- 公共js -->
		<script src="__ROOT__/Public/home/js/help.js" id="js"></script>
	</head>
	<body>
	<div class="help-box">
		<ul class="help" id="help">
			<li>
				<div class="problem-name">
					<div class="num">01</div>
					<div class="title">我要怎么推广？</div>
					<div class="choose">
						<img src="__ROOT__/Public/home/img/help/1.png" class="down" />
						<img src="__ROOT__/Public/home/img/help/2.png" class="dn up" />
					</div>
				</div>
				<div class="problem-txt dn">
					<h4>问：我们要怎么推广？</h4>
					<p>
						<span>答：</span>您好，首先您需要进入公众平台->点击用户中心->点击专属海报，再点击放大专属二维码海报后，长按保存至手机，您就可以分享倒朋友圈，微信群，或是微信好友完成推广索粉
					</p>
				</div>
			</li>
			<li>
				<div class="problem-name">
					<div class="num">02</div>
					<div class="title">申请信用卡的成功率多大？</div>
					<div class="choose">
						<img src="__ROOT__/Public/home/img/help/1.png" class="down" />
						<img src="__ROOT__/Public/home/img/help/2.png" class="dn up" />
					</div>
				</div>
				<div class="problem-txt dn">
					<h4>问：申请信用卡的成功率多大？</h4>
					<p>
						<span>答：</span>您好，首先您需要进入公众平台->点击用户中心->点击专属海报，再点击放大专属二维码海报后，长按保存至手机，您就可以分享倒朋友圈，微信群，或是微信好友完成推广索粉
					</p>
				</div>
			</li>			
		</ul>
	</div>
	</body>
</html>
