@charset "utf-8";
.head{
	width:100%;
}
.head .user-box{
	position:relative;
	margin:0 auto;
	width:10rem;
	height:3.75rem;
	background-color:#1a1c20;
}
.user-box .no-use{
	height:0.015625rem;
	width:0.015625rem;
	background-color:#1a1c20;
}

.user-box .money-box{
	margin:0 auto;
	margin-top:0.46875rem;
	width:9.375rem;
}
.user-box .money-box .sum{
	padding-left:0.3125rem;
	height:1.40625rem;
}
.user-box .money-box .sum h4{
	font-size:0.46875rem;
	line-height:0.9375rem;
	color:#ffc200;
}
.user-box .money-box .sum h5{
	font-size:0.3125rem;
	line-height:0.46875rem;
	color:#989897;
}
.user-box .money-box .part{
	height:1.25rem;
}
.user-box .money-box .yuan{
	margin-left:0.3125rem;
	float:left;
}
.user-box .money-box .yuan2{
	margin-left:2.8125rem;
}
.user-box .money-box .yuan h4{
	font-size:0.46875rem;
	line-height:0.78125rem;
	color:#ffc200;	
}
.user-box .money-box .yuan h5{
	font-size:0.3125rem;
	line-height:0.46875rem;
	color:#989897;
}	


.menu{
	margin:0.3125rem auto;
	width:9.6875rem;
	height:0.9375rem;
	background-color:#eee;
}
.menu .tab{
	width:4.84375rem;
	float:left;
	line-height:0.9375rem;
	font-size:0.28125rem;
	text-align:center;
}
.menu .active{
	color:#fff;
	background-color:#ffc200;
}


.infor{
	margin:0 auto;
	width:10rem;
}
.infor table{
	margin:0 auto;
	width:9.6875rem;
	background-color:#fff;
	border:none;
}
.infor table tr th{
	font-size:0.28125rem;
	height:0.9375rem;
	text-align:center;
	line-height:0.9375rem;
	border:0.015625rem solid #eee;
}
.infor table tr th.long{
	width:5rem;
}
.infor table tr th.long2{
	width:3.125rem;
}
.infor table tr th.long3{
	width:1.5625rem;
}
.infor table tr td{
	font-size:0.25rem;
	height:0.78125rem;
	text-align:center;
	line-height:0.78125rem;
	border:0.015625rem solid #eee;
}

.infor .user-list{
	margin:0 auto;
	width:9.6875rem;
}
.infor .user-list li{
	height:2.34375rem;
	border-bottom:0.015625rem solid #eee;
}
.infor .user-list li .num{
	float:left;
	width:0.46875rem;
	line-height:2.34375rem;
	font-size:0.46875rem;
	color:#B1B1B1;
	text-align:center;
}
.infor .user-list li .user-img{
	margin-left:0.15625rem;
	float:left;
	width:1.71875rem;
	height:2.34375rem;
}
.infor .user-list li .user-img img{
	display:block;
	margin:0.3125rem auto;
	width:1.71875rem;
	height:1.71875rem;
	border-radius:0.859375rem;
}
.infor .user-list li .txt{
	margin-left:0.3125rem;
	float:left;
}
.infor .user-list li .txt .name{
	line-height:0.9375rem;
	font-size:0.375rem;
}
.infor .user-list li .txt .work-id{
	line-height:0.46875rem;
	font-size:0.3125rem;
	color:#B1B1B1;
}
.infor .user-list li .txt .time{
	line-height:0.46875rem;
	font-size:0.3125rem;
	color:#B1B1B1;
}