@charset "utf-8";
.menu{
	margin:0.3125rem auto;
	width:9.6875rem;
	height:0.9375rem;
	background-color:#eee;
}
.menu .tab{
	width:4.84375rem;
	float:left;
	line-height:0.9375rem;
	font-size:0.28125rem;
	text-align:center;
}
.menu .active{
	color:#fff;
	background-color:#ffc200;
}


.infor{
	margin:0 auto;
	width:10rem;
}
.infor table{
	margin:0 auto;
	width:9.6875rem;
	background-color:#fff;
	border:none;
}
.infor table tr th{
	font-size:0.28125rem;
	height:0.9375rem;
	text-align:center;
	line-height:0.9375rem;
	border:0.015625rem solid #eee;
}
.infor table tr th.long{
	width:5rem;
}
.infor table tr th.long2{
	width:3.125rem;
}
.infor table tr th.long3{
	width:1.5625rem;
}
.infor table tr td{
	font-size:0.25rem;
	height:0.78125rem;
	text-align:center;
	line-height:0.78125rem;
	border:0.015625rem solid #eee;
}

.infor .user-list{
	margin:0 auto;
	width:9.6875rem;
}
.infor .user-list li{
	height:2.34375rem;
	border-bottom:0.015625rem solid #eee;
}
.infor .user-list li .num{
	float:left;
	width:0.46875rem;
	line-height:2.34375rem;
	font-size:0.46875rem;
	color:#B1B1B1;
	text-align:center;
}
.infor .user-list li .user-img{
	margin-left:0.15625rem;
	float:left;
	width:1.71875rem;
	height:2.34375rem;
}
.infor .user-list li .user-img img{
	display:block;
	margin:0.3125rem auto;
	width:1.71875rem;
	height:1.71875rem;
	border-radius:0.859375rem;
}
.infor .user-list li .txt{
	margin-left:0.3125rem;
	float:left;
}
.infor .user-list li .txt .type{
	line-height:0.5625rem;
	font-size:0.3125rem;
}